.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 992px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  margin-right: 2rem;
}
